*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    user-select: none;
}

body {
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

h1::after{
    content: "";
    display: block;
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    margin-top: 5px;
    height: 7px;
    width: 70px;
}

h2{
    font-weight: 900;
    font-size: 25px;
}

p{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.container{
    width: 1300px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;  
}

.container .left-container{
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.container .left-container .img-container img{
    border-radius: 10px;
    background-size: contain;
    margin-top: 30px;
}

.container .left-container .name p{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.container .left-container .name p span{
    font-weight: 900;
}

.container .left-container .content{
    background-color: #eff3f5;
    padding: 5px 17px;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 18px;
    margin-top: 10px;
}

.container .left-container .content p{
    font-weight: 600;
    text-align: center;
}

.container .left-container .small-icon{
    text-align: center;
}

.container .left-container .small-icon a{
    display: inline-block;
}

.container .left-container .small-icon i{
    font-size: 32px;
    font-weight: 800;
    margin: 12px 5px;
    color: black;
}

.container .left-container #author-detail{
    width: 100%;
    margin-top: 35px;
    padding: 10px 0;
    border-radius: 0;
}

.container .left-container #author-detail i{
    display: inline-block;
    padding: 6px 0 8px 60px;
    font-size: 25px;
}

.container .left-container #author-detail p{
    display: inline-block;
    font-size: 18px;
    padding-left: 8px;
    font-weight: 500;
}

.container .left-container .button button{
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    border: none;
    padding: 10px 30px;
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 35px;
}

.container .left-container .second-detail-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.container .right-container{
    width: 850px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    position: relative;
}

.container .right-container #about_section{
    display: block;
    padding: 30px;
}

.container .right-container #about_section p{
    line-height: 29px;
    padding-top: 15px;
}

.container .right-container #what_doing_section{
    background-color: #eff3f5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 505px;
    border-radius: 0px 0px 20px 20px;
    display: block;
}

.container .right-container #what_doing_section h1{
    font-size: 28px;
    padding: 60px 0 0 30px;
}

.container .right-container #what_doing_section h1::after{
    height: 5px;
    width: 60px;
}

.container .right-container #what_doing_section .box-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.container .right-container #what_doing_section .box{
    width: 380px;
    height: 150px;
    background-color: white;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 20px;
}

.container .right-container #what_doing_section .box .big-icon{
    font-size: 45px;
    color: #EF202E;
    width: 115px;
    text-align: center;
}

.container .right-container #what_doing_section .box .box-content{
    margin-left: 10px;
}

.container .right-container #what_doing_section .box .box-content h3{
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    padding: 5px 0 2px 5px;
}

.container .right-container #what_doing_section .box .box-content p{
    font-size: 17px;
    padding: 5px;
}

/* Navigation icon */
.container .right-container .nav-icon{
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    padding: 8px 7px;
    margin: 20px;
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 43px;
    height: 43px;
}

.container .right-container .nav-icon .first,
.container .right-container .nav-icon .third{
    width: 28px;
    height: 5px;
    background-color: white;
    margin: 3px auto;
    border-radius: 5px;
}

.container .right-container .nav-icon .second{
    width: 32px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    border-radius: 5px;
}

/* Resume Box */
.container .resume-container{
    height: 100%;
    display: none;
    padding: 30px;
}

.container .resume-container .resume-content{
    display: flex;
    margin-top: 20px;
}

.resume-left{
    padding: 20px;
}

.resume-left .education-container h2 i{
    color: #EF202E;
    font-size: 30px;
    margin-right: 10px;
}

.resume-left .education-container .education-detail{
    margin-top: 20px;
    padding: 20px;
}

.resume-left .education-container .education-detail p{
    font-size: 18px;
}

.resume-left .education-container .education-detail .education-content{
    margin-top: 20px;
}

.resume-left .other-skill{
   margin-top: 50px;
}

.resume-left .other-skill h2{
    margin-bottom: 40px;
}

.resume-left .other-skill .skill-bar{
    background-color: #eff3f5;
    border-radius: 25px;
    margin: 15px 5px;
}

.resume-left .other-skill .skill-bar .limit{
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    color: white;
}

.resume-left .other-skill .skill-bar .limit p{
    margin: 5px 5px 5px 15px;
    font-weight: 600;
}

/* Portfolio Page */
.portfolio-container{
    display: none;
    padding: 0;
    height: 100%;
}

.portfolio-container h1{
    padding: 30px;
}

.port-content{
    width: 850px;
    height: 570px;
    position: absolute;
    bottom: 0;
    background-color: #eff3f5;
    border-radius: 0 0 20px 20px;
}

.port-content .port-tabs{
    margin: 35px 0 0 50px;
    font-weight: 700;
    font-size: 18px;
}

.port-content .port-tabs div{
    display: inline-block;
    margin: 5px;
}


.port-content .port-boxes{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-items: center;
    margin-top: 20px;
}

.port-content .port-boxes .port-box{
    padding: 10px;
}

.port-content .port-boxes .port-box a{
    text-decoration: none;
}

.port-content .port-box a img{
    width: 240px;
    height: 150px;
    border: 5px solid rgb(197, 197, 197);
    border-radius: 20px;
    object-fit: cover;
}
.port-content .port-boxes .port-box a div{
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

/* Contact us Section */
.contact-container{
    display: none;
}

.contact-container h1{
    padding: 40px 0 0 50px;
}

.contact-container .contact-input{
    background-color: #eff3f5;
    height: 550px;
    margin-top: 59px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-container .contact-input form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-container .contact-input input,
.contact-container .contact-input textarea{
    display: block;
    color: #EF202E;
    width: 500px;
    margin: 8px;
    padding: 8px 20px;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif; 
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
}

.contact-container .contact-input textarea{
    height: 150px;
    resize: none;
}

.contact-container .contact-input button{
    border: none;
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    color: white;
    font-size: 23px;
    padding: 8px 40px;
    border-radius: 25px;
    font-family: 'Crimson Text', serif;
    margin-top: 20px;
    cursor: pointer;
}

/* Navigation container */
.right-container .nav-container{
    position: absolute;
    top: 30px;
    right: 70px;
    border-radius: 8px;
    background: rgb(131, 58, 180);
    background: linear-gradient(163deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 54%, rgba(252, 176, 69, 1) 100%);
    display: none;
    z-index: 3;
}

.right-container .nav-container.active{
    display: block;
}

.right-container .nav-container ul{
    list-style-type: none;
    text-align: center;
}

.right-container .nav-container ul li{
    padding: 10px 13px;
    border-radius: 8px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}

.right-container .nav-container ul li:hover{
    background-color: rgb(236, 246, 255);
}

.right-container .nav-container ul li.active{
    background-color: black;
    color: white;
}

/* .nav-icon .first{
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
}

.nav-icon .second{
    display: none;
}

.nav-icon .third{
    transform: rotate(-45deg);
    position: absolute;
    top: 17px;
} */